* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

p {
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    margin: 0pt;
}

.s1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 13.5pt;
}

.s2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7.5pt;
}

.s3 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7.5pt;
}

.s4 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}

.s5 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 7.5pt;
}

.s6 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 6.5pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
    counter-reset: c1 1;
}

#l1>li>*:first-child:before {
    counter-increment: c1;
    content: counter(c1, decimal)") ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7.5pt;
}

#l1>li:first-child>*:first-child:before {
    counter-increment: c1 0;
}


#page1-div p {
    margin: 0;
    padding: 0;
}

.ft10 {
    font-size: 29px;
    font-family: Helvetica;
    color: #c5433b;
}

.ft11 {
    font-size: 11px;
    font-family: Helvetica;
    color: #000000;
}

.ft12 {
    font-size: 11px;
    font-family: Helvetica;
    color: #000000;
}

.ft13 {
    font-size: 12px;
    font-family: Helvetica;
    color: #000000;
}

.ft14 {
    font-size: 12px;
    font-family: Helvetica;
    color: #000000;
}

.ft15 {
    font-size: 16px;
    font-family: Helvetica;
    color: #000000;
}


table {
    border-collapse: collapse;
}

table th {
    border: 1px solid #000;
    width: 100%;
}



table td {
    border: 1px solid #000;
    width: 100%;
}